@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	color: #1b1b1b;
}

body {
	font-family: "Raleway";
}

#wrapper {
	width: 100%;
	top: 0;
	left: 0;
}

#main {
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: 300;
}

header {
	display: inline-block;
}

article {
	text-align: left;
	margin-top: 4em;
	margin-inline: auto;
	width: 40em;
	max-width: 100%;
}

article p {
	overflow: hidden;
	line-clamp: 3;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.header-image {
	display: block;
	position: relative;
	margin-inline: auto;
	width: 900px;
	max-width: 100%;
	height: 200px;
	z-index: -1;
	background-image: url("./header_image.jpeg");
	background-size: 900px;
	background-position-y: -120px;
	object-fit: cover;
	-webkit-filter: opacity(0.9) grayscale(0.1);
	filter: opacity(0.9) grayscale(0.1);
}

.content {
	margin: 5em 2em;
	margin-top: -65px;
}

a, a:hover, a:link, a:visited, a:active {
	color: #4f4f4f
}

nav {
	margin-top: 2em
}

.avatar {
	border-radius: 50%;
	width: 160px;
	box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
}

@media only screen and (min-width: 1000px) {
	#main:before {
		display: inline-block;
		vertical-align: middle;
		width: 1px;
		margin-right: 0;
		content: '';
	}

	#main {
		position: fixed;
	}

	header {
		width: 900px;
	}

	.avatar {
		width: 190px;
	}

	.content {
		margin-top: -140px;
	}
}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 2em;
	}

	.content {
		margin-top: -100px;
	}
}

@media (prefers-color-scheme: dark) {
	.avatar {
		border: 1px rgb(52 52 52 / 63%) solid;
	}

	.header-image {
		-webkit-filter: opacity(0.9) grayscale(0.1);
		filter: opacity(0.9) grayscale(0.1);
	}

	:root, a, a:hover, a:link, a:visited, a:active {
		color: #dedfe3;
	}

	:root {
		background-color: #1b1b1b;
	}
}
